body{
  font-family: "Montserrat";


}
#title{
  background-color: #ff4c68;
  color: #fff;
  bottom: 50px;


}

h1{
  font-family: 'Montserrat-300';
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 300;

}
.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.container-fluid{
  padding: 3% 15%;

}
.nav-item{
  padding: 0 10px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}
.btn{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5%;

}
.title-image{
  width: 40%;
  transform: rotate(25deg);
  position: absolute;
  left: 160%;
  bottom: 20px;





}
#features{
  margin: 60px;
  padding: 60px;
  position:relative;
  z-index: 1;
}
.fontt{
   font-family: 'Montserrat-900', sans-serif;
   font-weight: bold;
   margin-left: 10px;
   margin-right: 10px;
   text-align: center;

}
.fet-imgg{
  color: #ef8172;
  margin-left: 160px;
  margin-bottom: 10px;
}
.linee{
  color: #8f8f8f;
   font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.fet-imgg:hover{
  color: #ff4c68;
}
h2{
  font-family: 'Montserrat Bold-700', sans-serif;
  color: white;
  font-size: 3.5rem;
  line-height: 1.5;
}
#testimonials{
  text-align: center;
  background-color: #ef8172;



}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin-top: 15px;
}
.customer-text{
  margin-left: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-log{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding:7% 15%
}
.crd-head {
  color: black;
}
.dg-plan{
  color: black;
}
#pricing{
  padding:100px;
  padding-bottom: 40px;
  text-align: center;
}
.col-prc{
  padding: 3% 2%;
}
@media (max-width: 1020px) {
  .title-image{
    position: static;
    transform: rotate(0);
    padding-top: 20px;
    /* text-align: center; */

    }
    #title{
      text-align: center;
    }
  }
}

#cta{
  background-color: #ff4c68;
}
.chl-2{
  height:390px;
  width:1520px;
  background-color: #ff4c68;
  text-align: center;
  padding-top: 5%;
  font-family: 'Montserrat-900', sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 2%;
  padding-top: 120px;


}
.lasttt{
  height:160px;
  text-align: center;
}
.linkk{
  margin:10px;
  margin-top: 20px;
}
